<div class="features_items">
  <div class="row justify-content-between">
    <div class="col-md-auto breadcrumbs">
      <% if @product.category.nil? %>
        <%= link_to "トップ", "#", category: @major_category_name %> > <%= @product.category.name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-5">
      <div id="main_visual" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main_visual" data-slide-to="0" class="active"></li>
          <li data-target="#main_visual" data-slide-to="1"></li>
          <li data-target="#main_visual" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% if @product.image_url.present? %>
              <%= image_tag @product.image_url, class: "w-100 img-fuild" %>
            <% elsif @product.image.attached? %>
              <%= image_tag @product.image, class: "w-100 img-fuild" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "w-100 img-fuild" %>
            <% end %>
          </div>
          <% [2, 3, 4, 5, 6, 7, 8, 9,10].each do |n| %>
          <div class="carousel-item">
            <% if @product.image_url{n}.present? %>
              <%= image_tag @product.image_url2, class: "w-100 img-fuild" %>
            <% elsif @product.image.attached? %>
              <%= image_tag @product.image, class: "w-100 img-fuild" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "w-100 img-fuild" %>
            <% end %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前に戻る</span>
        </a>
        <a class="carousel-control-next" href="#main_visual" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次に進む</span>
        </a>
      </div>
    </div>  
    <div class="col-12 col-lg-7">
      <div class="d-flex flex-column">
        <h1 class="mt-2"><%= @product.name %></h1>
        <div class="row">
          <div class="col-7 col-lg-3">
            <div class="productCard-rating-stars">  
              <span class="empty-stars">
                <% [1, 2, 3, 4, 5].each do |n| %>
                  <span class="star"><i class="far fa-star"></i></span>
                <% end %>
              </span>
              <span class="filled-stars" style="width:<%=@product.rating_score/5*100%>%">
                <% [1, 2, 3, 4, 5].each do |n| %>
                  <span class="star"><i class="fas fa-star"></i></span>
                <% end %>
              </span>
            </div>
          </div>
          <div class="col-5 col-lg-4">
            <span class="score"><%=@product.rating_score%></span>
            <span class="legend">
                <% if @product.review_quantity.nil? %>
                  <%= 123 %>
                <% else %>
                  ( <%= @product.review_quantity %> 件 )
                <% end %>
            </span>
          </div>
        </div>
        
        <p><%= @product.description %></p>
        <% if @product.brand!="" %>
        <p>ブランド : <b><%= @product.brand %></b</p>
        <% end %>
        <p class="d-flex align-items-end">
          <span class="font-weight-bold productDetails-price-value text-danger"><%=number_to_currency(@product.price,precision:0, unit: "￥")%> </span>
          <span class="text-small productDetails-pricetax-value ml-2"> (税込 <%=number_to_currency(@product.price_with_tax,precision:0, unit: "￥")%>)</span>
        </p>
        <p>
          お届け先：お泊まりのホテルにお届けします。
        </p>
        <p>
          支払い方法： <%=image_tag("/images/visa.png") %>
        </p>
      </div>

      <% if user_signed_in? %>
          <%= form_with url: cart_create_users_path, local: true do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :name, value: @product.name %>
          <%= f.hidden_field :price, value: @product.price %>
          <div class="form-group d-flex flex-nowrap">
            <%= f.label "数量 :", class: "col-form-label p-2" %>
            <div class="input-group" style="width:150px">
              <%= f.text_field :quantity, min:1, value:1, class: "form-control input-number"%>
              <div class="input-group-append">
                <button type="button" data-field="quantity" data-type="plus" class="btn btn-number btn-outline-secondary">
                  <i class="fa fa-angle-up"></i>
                </button>
                <button type="button" data-field="quantity" data-type="minus" class="btn btn-number btn-outline-secondary">
                  <i class="fa fa-angle-down"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-12 mt-2">
              <%= f.submit "カートに追加", class: "btn btn-info btn-md btn-block" do %>
                <i class="fas fa-shopping-cart"></i>
              <% end %>
            </div>
            <div class="offset-lg-0 col-lg-5 offset-2 col-8 mt-2">
              <%= link_to favorite_product_path, class: "btn btn-outline-info btn-md btn-block" do %>
                <i class="fa fa-heart"></i><%= current_user.likes?(@product) ? " お気に入り解除" : " お気に入り" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="w-100">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-lg-7">カスタマーレビュー</div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-title">
            
          </div>
          
          <div class="row">
            <% @reviews.each do |review| %>
            <div class="col-md-5">
                <%#= f.label "画像", class: "col-2 d-flex justify-content-start" %>
              <% if review.image.attached? %>
                <%= image_tag review.image, id: "review-image-preview", class: "img-fluid w-75" %>
              <% else %>
                <!--img src="#" id="review-image-preview" class=""--> 
              <% end %>
              
            </div>
            <div class="col-md-7">
              <h3 class="review-score-color"><%= score_on_star(review.score) %></h3>
              <p class="h3"><%= review.content %></p>
              
              <label><%= l review.created_at %></label>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? %>
    <div class="col-12">
      <hr class="w-100"/>
      <div class="card">
        <div class="card-header">
          評価
        </div>
        <div class="card-body">
          <div class="row">
            <div class="offset-md-3 col-md-7">
              <%= form_with model: @review, url: product_reviews_path(@product) do |f| %>
              <h4>評価</h4>
                <%= f.select :score, @star_repeat_select, {}, class: "form-control m-2 review-score-color" %>
                <h4>レビュー内容</h4>
                <%= f.text_area :content, class: "form-control m-2" %>
                <div class="d-flex flex-column ml-2">
                  <small class="mb-3">600px×600px推奨。<br>商品の魅力が伝わる画像をアップロードして下さい。</small>
                  <%= f.label "画像を選択", for: "review_image", class: "btn btn-info btn-sm btn-block" %>
                  <%= f.file_field :image, { onChange: "javascript: handleImage(this.files);", style: "display: none;"} %>
                </div>
                <%= f.submit "レビューを追加" , class:"btn btn-info btn-sm float-right"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>  
  <div class="row">
    <div class="col-12">
      <hr class="w-100"/>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                上位レビュー
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <% if @product.review_comments.present? %>
                <p><%= @product.review_comments %></p>
                <% end %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                商品詳細情報
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>
              <% if @product.detailed_explanation.nil? %>
                <%= '' %>
              <% else %>
                <%= @product.detailed_explanation %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                商品基本情報
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p>
              <% if @product.product_spec.nil? %>
                <%= '' %>
              <% else %>
                <%= @product.product_spec %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                商品サイズ
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <p>
              <% if @product.product_demension.nil? %>
              <%= '' %>
              <% else %>
              <%= @product.product_demension %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                商品重量
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <p>
              <% if @product.item_weight.nil? %>
              <%= '' %>
              <% else %>
              <%= @product.item_weight %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-truncate" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                重要：免税手続き（商品受取り方法について）
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <p>①ご注文商品は、お泊りのホテルにご注文日から最短翌日中に届きます（特急便の場合）。<br>
                ②ホテルに商品が到着しましたら、メール・SMS等によりご連絡します。<br>
                <strong>③（重要）商品到着のメッセージが届きましたら、ホテルのフロントにお越しください。免税品をお渡しします。</strong><br>
                ④ホテルフロントにて、上記②メッセージ画面をフロントスタッフにお見せ下さい。 <br>
                ⑤免税品受取りの際に、ホテルスタッフにパスポートをお見せ下さい。<br>
              （注意点）パスポートのご提示が無い場合、免税価格での受け取りはできません。消費税を含んだ価格での購入となります。<br>
              （注意点）商品受取り拒否、または商品受取りできなかった場合も、ご注文キャンセルはできません。ご登録クレジットカードからご注文代金が請求されます。<br>
              商品を受け取れず、本国への転送をご希望の場合、追加の配送料金により可能ですので、スタッフにお申し付けください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=javascript_include_tag "/assets/products/show" %> 

