<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
  </div>
    <div class="col-9">
      <h1>親カテゴリー</h1>
      <div class="row">
        <% @major_categories.each do |major_category|%>
         <div class="col-4">
           <%= link_to web_show_path(name: major_category.name) do %>
            <% if major_category.image.attached? %>
              <%= image_tag major_category.image, class: "img-thumbnail" %>
            <% else %>
              <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
            <% end %>
           <% end %>
           <div class="row">
             <div class="col-12">
               <h3 class="samazon-product-level mt-2">
                 <%= major_category.name %><br>
                 <label><%= major_category.description %>
               </h3>
             </div>
           </div>
         </div>
       <% end %>
      </div>
    </div>
</div>
