  <% if major_categories.nil? %>
  <%= "" %>
  <% else %>
  <div class="panel-group category-products p-2" id="accordian">
  <% major_categories.each_with_index do |major_category,name_index| %>
    <div class="panel panel-default">
			<div class="panel-heading">
			  <div class="panel-title">
			    <a data-toggle="collapse" class="collapsed" data-parent="#accordian" href="#category_name_<%= name_index %>">
					    <h4 class="text-truncate"><%= major_category.name %></h4>
          </a>
				</div>
			</div>
			<div id="category_name_<%= name_index %>" class="panel-collapse collapse">
			  <div class="panel-body">
          <ul class="list-unstyled">
            <% major_category.categories.each do |category| %>
              <% if category.major_category_name == major_category.name %>
              <li class="pl-2">
                  <%= link_to products_path(category: category.id) do %>
                    <span class="text-primary"><%=category.name%></span>
                  <% end %>
              </li>
              <% end %>
            <% end %>
          </ul>
				</div>
			</div>
		</div>
  <% end %>
  </div>
  
  <% end %>

